.cursor-pointer {
  cursor: pointer;
}


.transitive {
  opacity: 0.5;
}
/*
body.dialog-is-open {
  overflow-y: hidden !important;
  max-height: 100%;
  position: fixed;
} */

div.vicp-preview {
  width: 170px !important;
  height: 270px !important;
}

div.vicp-preview-item.vicp-preview-item-circle {
  width: 170px !important;
  height: 170px !important;
}

.vicp-preview-item.vicp-preview-item-circle img {
  width: 160px !important;
  height: 160px !important;
}

.vicp-preview-item.vicp-preview-item-circle span {
  bottom: -30px !important;
}
